name: Docker-Publish

on:
  workflow_call:
    inputs:
      dockerFile:
        required: true
        type: string
        description: The location of the Dockerfile.
      readmeFile:
        required: false
        type: string
        default: ""
        description: The location of the README.md.
      context:
        default: .
        type: string
        description: The context path of the project.
      platforms:
        default: linux/arm64,linux/amd64
        type: string
        description: The docker platforms parameter with default value is "linux/arm64 and linux/amd64".
      imageName:
        required: true
        type: string
        description: The name of the docker image.
      buildArgs:
        type: string
        description: Docker build arguments in the format "ARG1=value1,ARG2=value2".
      DOCKER_REGISTRY:
        default: docker.io
        type: string
        description: The registry image repository.
      dockerCacheEnabled:
        default: true
        type: boolean
        description: Whether to enable docker cache.
    secrets:
      DOCKER_USERNAME:
        required: true
        description: The docker hub user name.
      DOCKER_TOKEN:
        required: true
        description: The docker hub PAT token.

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      # Versioning
      - name: Calculate version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          version_format: "${major}.${minor}.${patch}"
          bump_each_commit: false
          search_commit_body: false

      - name: Set NEXT_VERSION
        run: echo "NEXT_VERSION=${{ steps.version.outputs.version }}" >> $GITHUB_ENV

      - name: Print the version
        run: echo ${{ steps.version.outputs.version }}

      # Build Docker
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3.9.0
        with:
          platforms: ${{ inputs.platforms }}

      - name: Docker Login
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ inputs.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          ecr: auto
          logout: true

      #- name: docker pull cache image
      #  continue-on-error: true
      #  run: docker pull ${{ inputs.imageName }}:latest

      #Setup QEMU
      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v3.4.0

      # Build and Publish to Docker
      - name: Build the Docker image
        run: |
          build_args=""
          if [ -n "${{ inputs.buildArgs }}" ]; then
            IFS=',' read -ra args <<< "${{ inputs.buildArgs }}"
            for arg in "${args[@]}"; do
              build_args+="--build-arg $arg "
            done
          fi

          if [ "${{ inputs.dockerCacheEnabled }}" = "true" ]; then
            docker buildx build ${{ inputs.context }} --file ${{ inputs.dockerFile }} \
              --tag ${{ inputs.imageName }}:${{ env.NEXT_VERSION }} \
              --tag ${{ inputs.imageName }}:latest \
              --cache-from=${{ inputs.imageName }}:latest \
              --push --platform=${{ inputs.platforms }} $build_args
          else
            docker buildx build ${{ inputs.context }} --file ${{ inputs.dockerFile }} \
              --tag ${{ inputs.imageName }}:${{ env.NEXT_VERSION }} \
              --tag ${{ inputs.imageName }}:latest \
              --push --platform=${{ inputs.platforms }} $build_args
          fi

      - name: push README to Dockerhub
        if: inputs.readmeFile != ''
        uses: christian-korneck/update-container-description-action@v1
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKER_TOKEN }}
        with:
          destination_container_repo: ${{ inputs.imageName }}
          provider: dockerhub
          short_description: "ReadMe"
          readme_file: ${{ inputs.readmeFile }}

      # Create Release
      - name: Create Release
        id: create_release
        if: ${{ env.Enable_Release == 'true' }}
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.NEXT_VERSION }}
          release_name: Release v${{ env.NEXT_VERSION }}
          draft: false
          prerelease: false
